:root {
  --primo: #283618;
  --secondo: #DDA15E;
  --terzo: #C6AC8F;
  --quarto: #606C38;
  --text: #FEFAE0;
  --quinto: #031502;

  --font-title: Parisienne; 
  --font-text: Nunito Sans;
; 
}